//Import bootstrap-sprockets
@import "bootstrap-sprockets";
// Import paper variables
@import "bootswatch/paper/variables";
// Then bootstrap itself
@import "bootstrap";
// And finally bootswatch style itself
@import "bootswatch/paper/bootswatch";

//BASE STYLES

body {
  background: url(/assets/bg.jpg) no-repeat center bottom;
  background-size: 50vh;
  color: white;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.container {
  background-color: #f03c2e;
  color: white;

  a,
  a:focus,
  a:hover,
  a:visited {
    // color: white;
    font-weight: bold;
  }
}

.form-control {
  color: white;
  font-size: 24px !important;
}

h1 {
  color: white;
  font-size: 6rem;
  font-weight: 700;
}

// CUSTOM STYLES

.btn-slack {

  a,
  a:focus,
  a:hover,
  a:visited {
    color: #3c434d;
    font-weight: bold;
  }
}

.slack-logo {
  margin-top: -2px;
  margin-right: 10px;
  width: 20px;
}